
@{
    ViewData["Title"] = "Thonke";
}

<div class="section" style="background-color:#EBFCF2;">
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4 portfolio-container mb-4">
                    <h1>Thiết bị output</h1>
                    <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/Led.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Led đơn</p>
                                <a class="lh-base mb-0" href="@Url.Action("Output","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/LoaBuzzer.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Led đơn</p>
                                <a class="lh-base mb-0" href="@Url.Action("Output","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100 h-100" src="~/image/maybom.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Mát bơm</p>
                                <a class="lh-base mb-0" href="@Url.Action("Output","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="row g-4 portfolio-container">
                    <h1>Thiết bị input</h1>
                    <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/nutnhandon.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Nút nhấn đơn</p>
                                <a class="lh-base mb-0" href="@Url.Action("Input","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/Dht11.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                           <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">DHT1</p>
                                <a class="lh-base mb-0" href="@Url.Action("Input","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/Dad1.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                           <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Cảm biến độ ẩm</p>
                                <a class="lh-base mb-0" href="@Url.Action("Input","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/cambienanhs.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Cảm biến ánh sáng</p>
                                <a class="lh-base mb-0" href="@Url.Action("Input","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/image/Cambienamthanh.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                           <div class="bg-light p-4 text-center fs-3">
                                <p class="text-primary fw-medium mb-2">Cảm biến âm thanh</p>
                                <a class="lh-base mb-0" href="@Url.Action("Input","Statistic")">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
    <!-- /container -->
</div>

