@using Microsoft.AspNetCore.Identity
@using SmartFarm.Data.Entities;
@using SmartFarm.Data;
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@inject AppDbContext context
<div class="dropdown align-self-stretch d-block d-md-none">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="dropdown-toggle nav-user"
                 id="dropdownMenuButton"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                <span class="nav-user__avatar">
                    <img src="/images/avatar.jpg" alt="User avatar" />
                </span>
                <span class="nav-user__name">@UserManager.GetUserAsync(User).Result.UserName</span>
            </div>

            <div class="dropdown-menu nav-user__dropdown"
                 aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item nav-user__dropdown-item" href="@Url.Action("InforUser","Home")">Thông tin cá nhân</a>
                <a class="dropdown-item nav-user__dropdown-item" href="@Url.Action("ManageDeivce","Home")">Quản lý thiết bị</a>
                <a class="dropdown-item nav-user__dropdown-item" href="@Url.Action("Login","Home")">Đăng xuất</a>
            </div>
        }
        else
        {
            <h1><a href="@Url.Action("Login", "Home")"><i class="fa fa-user"></i>Đăng nhập</a></h1>
        }

</div>
