@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section CustomCss{
    <link rel="stylesheet" type ="text/css" href="~/css/admin.css"/>
}
<!-- **********************SECTION********************** -->
    <!----------------------------- END HEADER---------------------------->
    <section class="section-content">
      <h1 class="heading-1 mb-5 d-flex align-items-center">
        <svg class="heading__icon me-4">
          <use xlink:href="/image/spirite.svg#icon-users"></use>
        </svg>
        Quản lý người dùng
      </h1>
      <div class="row">
        <div
          class="col-lg-4 col-12 d-flex d-lg-block justify-content-between mb-4 mb-lg-0"
        >
          <div class="adding-device">
            <h2 class="heading-2 text-center mb-4">Tạo tài khoản</h2>

            <form class="form" asp-controller="Admin" asp-action="ManageUser" method="post">
              <div class="mb-3 form-group">
                <label for="fullName" class="form__label">Họ và tên:</label>
                <!-- <select name="types" id="types" class="form__input">
                  <option value="Input">Input</option>
                  <option value="Output">Output</option>
                </select> -->
                <input
                  type="text"
                  placeholder="Tran Van A"
                  class="form__input"
                  name="fullName"
                  id="fullName"
                />
              </div>
              <div class="mb-3 form-group">
                <label for="email" class="form__label">Email:</label>
                <!-- <select name="types" id="types" class="form__input">
                  <option value="Input">Input</option>
                  <option value="Output">Output</option>
                </select> -->
                <input
                  type="email"
                  placeholder="example@gmail.com"
                  class="form__input"
                  id="email"
                  name="email"
                />
              </div>
              <div class="mb-3 form-group">
                <label for="role" class="form__label">Role:</label>
                <!-- <select name="types" id="types" class="form__input">
                  <option value="Input">Input</option>
                  <option value="Output">Output</option>
                </select> -->
                <select name="role" id="role" class="form__input">
                  <option value="admin">Admin</option>
                  <option value="user">Thành viên</option>
                </select>
              </div>
              <div class="mb-3 form-group">
                <label for="password" class="form__label">Mật khẩu:</label>
                <!-- <select name="types" id="types" class="form__input">
                  <option value="Input">Input</option>
                  <option value="Output">Output</option>
                </select> -->
                <input
                  type="password"
                  placeholder="Password"
                  class="form__input"
                  name="password"
                  id="password"
                />
              </div>
              <div class="mb-3 form-group">
                <label for="passwordConfirmed" class="form__label"
                  >Nhập lại mật khẩu:</label
                >
                <!-- <select name="types" id="types" class="form__input">
                  <option value="Input">Input</option>
                  <option value="Output">Output</option>
                </select> -->
                <input
                  type="password"
                  placeholder="Confirm password"
                  class="form__input"
                  name="passwordConfirmed"
                  id="passwordConfirmed"
                />
              </div>

              <button class="button button-primary mx-auto my-0">
                Đăng ký
              </button>
            </form>
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="devices">
            <h2 class="heading-2 mb-4 text-center">Danh sách tài khoản</h2>

            <div class="col-12">
              <!-- ORDERS TABLE -->
              <div class="box">
                <div class="box-body">
                  <table>
                    <thead>
                      <tr>
                        <th>Tên tài khoản</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>hiennguyen</td>
                        <td>Lưu Công Định</td>
                        <td>hien@hcmut</td>
                        <td>
                          <svg class="table__icon">
                            <a href="@Url.Action("EditUser","Admin")">
                            <use
                              xlink:href="/image/spirite.svg#icon-clipboard-edit"
                            ></use>
                            </a>
                          </svg>
                        </td>
                        <td>
                          <svg class="table__icon">
                            <use
                              xlink:href="/image/spirite.svg#icon-bin2"
                            ></use>
                          </svg>
                        </td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END ORDERS TABLE -->
            </div>
          </div>
        </div>
      </div>
    </section>
@{
}
